SECRET_KEY=
ALLOWED_HOSTS=
DEBUG=
DATABASE_URL=
ADMIN_URL=
DEFAULT_FROM_EMAIL=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_REGION_NAME=

ENABLE_SENTRY=
SENTRY_DSN=

SUPERUSER_EMAIL=
SUPERUSER_PASSWORD=
