{% raw %}{% load static %}
{% load django_htmx %}
{% load tailwind_cli %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
     <meta name="htmx-config" content='{"globalViewTransitions": "true"}' />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    {% block title %}{% endraw %}<title>{{ cookiecutter.project_name | title }}</title>{% raw %}{% endblock title %}
    {% tailwind_css %}
    {% block css %}
    {% endblock css %}
    <script defer src="{% static 'vendors/htmx/htmx.min.js' %}"></script>
    {% block javascript %}
    {% endblock javascript %}
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <main class="container mx-auto">
      {% block content %}
      {% endblock content %}
    </main>
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
    {% endblock inline_javascript %}
    {% django_htmx_script %}
  </body>
</html>
{% endraw %}
