{% raw %}
{% extends "base.html" %}

{% block content %}

    <section>
{% endraw %}
        <h1>{{ model_name}} - {% raw %}{{ {% endraw %} {{ model_name|lower }} {% raw %} }}{% endraw %} </h1>
        <a href="{{list_view_url|safe}}" >
            All {{model_verbose_name_plural|capitalize}}
        </a>
    </section>

    <ul>
        {% for field_data in model_fields.values() %}
            <li>
                <span >{{ field_data["verbose_name"] }}:</span>  {{ field_data["accessor"] }}
            </li>
        {% endfor %}
    </ul>


    <a href="{{ update_view_url|safe }}">Edit</a>

{% raw %}
{% endblock content %}
{% endraw %}
