{% raw %}
{% extends 'base.html' %}
{% load partials %}

{% block content %}
{% endraw %}
    <section >
        <h1>{{ model_verbose_name_plural|capitalize }}</h1>
        <a href="{{ create_view_url|safe }}">
            New {{ model_name|capitalize }}
        </a>
    </section>

{% raw %}
  {% partialdef table inline=True %}

    <div id="table">
        <table>
            <thead>
                {% endraw %}
                    <tr>
                        {% for _, field_data in model_fields.items() %}
                         <th scope="col">{{ field_data["verbose_name"] }}</th>
                        {% endfor %}
                        <th scope="col">Actions</th>
                    </tr>
                {% raw %}
            </thead>
            <tbody>
                {% for {% endraw %}{{ model_name|lower }} in {{{model_name_plural|lower}}_page {% raw %} %}
                  {% endraw %}
                    <tr >
                        {% for _, field_data in model_fields.items() %}
                         <td>{{field_data["accessor"]}}</td>
                       {% endfor %}
                        <td>
                         {% raw %}
                          {% endraw %}
                            <a href="{{ detail_view_url|safe }}">View
                            </a>|
                            <a href="{{ update_view_url|safe }}">Edit
                            </a>|
                            <a
                                hx-target="closest tr"
                                hx-swap="outerHTML"
                                hx-confirm="Are you sure you?"
                                hx-delete="{{ delete_view_url|safe }}">
                                Delete
                            </a>
                            </td>
                            </tr>
                        {% raw %}
                {% endfor %}
            </tbody>
        </table>
        {% if{% endraw %} {{model_name|lower}}s_page.paginator.num_pages {% raw %}> 1 %}
            <div>
                <ul hx-target="#table" hx-swap="outerHTML"  hx-push-url="true">
                    {% if{% endraw %} {{model_name|lower}}s_page.has_previous {% raw %}%}
                        <li>
                            <a hx-get="?page=1">First</a>
                        </li>
                        <li>
                            <a  hx-get="?page={{ {% endraw %}{{model_name|lower}}s_page.previous_page_number{% raw %} }}">
                                Previous
                            </a>
                        </li>
                    {% endif %}

                    {% for num in{% endraw %} {{model_name|lower}}s_page.paginator.page_range {% raw %}%}
                        {% if{% endraw %} {{model_name|lower}}s_page.number == num {% raw %}%}
                            <li>
                                <a  hx-get="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% elif num > {% endraw %}{{model_name|lower}}s_page.number|add:'-3'{% raw %} and num < {% endraw %}{{model_name|lower}}s_page.number|add:'3' {% raw %}%}
                            <li>
                                <a hx-get="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if{% endraw %} {{model_name|lower}}s_page.has_next {% raw %}%}
                        <li>
                            <a hx-get="?page={{ {% endraw %} {{model_name|lower}}s_page.next_page_number {% raw %}}}">Next</a>
                        </li>
                        <li>
                            <a hx-get="?page={{ {% endraw %} {{model_name|lower}}s_page.paginator.num_pages {% raw %}}}">Last</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
         {% endif %}
    </div>

{% endpartialdef %}
{% endblock content %}
{% endraw %}
